.inlineBlock {
	display: inline-block; 
}
.vtop{vertical-align: top;}
.ralign{text-align: right;}

.mainPanel {
	width:974px;
	padding-left: 8px;
	padding-right: 8px;
}
.roundedCorners, .currentRow, .row {    
    border-radius:5px; 
    -moz-border-radius:5px;
}
.currentRow, .row {
    margin: 6px; 
    padding: 8px 5px 8px 5px; 
    border:2px solid #0099FF;
}
.row {
    border: 2px solid grey;
}
