#wrapper{width:100%;}
.disabled{display:inline-block;background:#dddddd;cursor:not-allowed;border:1px #777777 solid;color:black;}
.hydraautocomplete ul li{cursor: pointer;}
[aliases=wrapper] [aliases=moreOrLess]{}
[aliases=wrapper] [fieldids=serialNoValidator]{color:green;}
[aliases=wrapper] [fieldids=aliasPattern]{color:green;}
[aliases=aliasList]{border: 1px #cccccc solid;height: 200px;overflow: auto;}
[aliases=errormsg]{color:red; font-size:9px;}

.inlineBlock{display: inline-block;vertical-align: top;}
.vtop{vertical-align: top;}
.ralign{text-align: right;}
.leftpanel{width:67%;padding-left: 8px;}
.title{width:20%;text-align: right;padding-right: 8px;vertical-align: top;}
.content{width:75%;}
.manD{color: red;}
.row{margin: 0 0 8px 0;}
.content [aliases='alias']{width: 78%;}
.content [aliases='alias'] input{width: 90%; margin-right: 3px;}
.content [aliases='boxLabel']{width: 20%;}

[fieldids=pendingparts]{width: 100%;}
[fieldids=pendingparts] .header{font-weight:bold;color:green;font-size:14px;}
[fieldids=pendingparts] .details .zoneset{width: 10%;border:1px solid grey;font-weight:bold;color:black;font-size:13px;}
[fieldids=pendingparts] .details .fts{border:1px solid grey;}
[fieldids=pendingparts] .details .fts .ft{display:inline-block;width: 90px;padding:1px;}
[fieldids=pendingparts] .footer{text-align: center;margin: 0 0 30px 0;}

[process=errors]{background:white;color:black;}
[process=errors] table{width:100%;}
[process=errors] thead td{font-weight:bold;background:black;color:white;}
[process=errors] tbody tr.DataListAlterItem{background:#cccccc;}